---
import Layout from '../layouts/Layout.astro';
import { Books } from '../components/Books';
import Header from '../components/Header.astro';
---

<Layout>
	<main>
		<Header />
		<Books client:load/>
	</main>
</Layout>

