---
import ReadListFlyout from "./ReadListFlyout";
import ReadListFlyoutToggle from "./ReadListFlyoutToggle";
---

<h1
  class="m-3 pb-4 ms:text-4xl text-8xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-br from-violet-500 to-pink-500"
>
  Virtual Library
</h1>
<ReadListFlyoutToggle client:load />
<ReadListFlyout client:load />
